<a href="https://colab.research.google.com/github/ForestroAung/PythonProject/blob/master/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def Sum(x=0,y):
  sum=x+y
  return"The sum of {} and {} is {}".format(x,y,sum)
#print(Sum())
print(Sum(x=8))
print(Sum(7,7))

SyntaxError: ignored

In [ ]:
max(2,3,4,5)

5

In [ ]:
def my_function(*kids):

  my_function('Emil','Tobias','Linus')
  print('The youngest kid is'+ kids[2])

In [ ]:
def summariation(*numbers):
  sum=0
  for num in numbers:
    sum+=num
    return sum
  summariation(1,2,3,4,5)

In [ ]:
def count_to_n(n):
  for i in range(1,n+1):
    print(i,end="  ")
  print()

print("Going to count to ten...")
count_to_n(10)
print('to five')
count_to_n(5)
print('to 20')
count_to_n(20)

Going to count to ten...
1  2  3  4  5  6  7  8  9  10  to five
1  2  3  4  5  to 20
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16  17  18  19  20

In [ ]:
def count(n):
  for j in range(1,n+1):
    print(j,end=" ")
  print()

num=int(input('Enter your number'))
for i in range(1,num+1):
  count(i)

Enter your number5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=int(input("Enter Facto"))
def fact(n):
  r=1
  while n>0:
    r=r*n
    n=n-1
  return r
print('Facorial of {}={}'.format(n,fact(r)))

Enter Facto5

NameError: ignored

In [ ]:
contacts ={}
running =True
while running:
  command=input('A)dd D)elete L)ook up Q)uit:')
  if command =='A'or command=="a":
    name=input('Enter new name')
    print('Enter phone number for', name, end=" :")
    number=input()
    contacts[name]=number
  elif command =='D' or command =='d':
    name=input('Enter name to delete:')
    del contacts[name]
  elif command =='L' or command =='l':
      name=input('Enter name:')
      if name in contacts:
        print(name,contacts[name])
      else:
          print('Your name is not in contacts')
  elif command =='Q' or command== 'q':
    running=False
  elif command =="lookup":
    print(contacts)
  else:
    print(command,'is not a valid contract')

A)dd D)elete L)ook up Q)uit:love
love is not a valid contract
A)dd D)elete L)ook up Q)uit:234678
234678 is not a valid contract
A)dd D)elete L)ook up Q)uit:a
Enter new nameyouwoo
Enter phone number for youwoo :4567
A)dd D)elete L)ook up Q)uit:q

In [ ]:
myanmar_toys={'Sin Yoke','Kyar Yoke','Yoke thay','Yoke thay'}
print(myanmar_toys)
print(type(myanmar_toys))
print(len(myanmar_toys))

{'Kyar Yoke', 'Sin Yoke', 'Yoke thay'}
<class 'set'>
3

In [ ]:
myanmar_toys={'Sin Yoke','Kyar Yoke','Yoke thay','Kyar Yoke'}
print('Sin Yoke'in myanmar_toys)
for i in myanmar_toys:
  print(i)

True
Kyar Yoke
Sin Yoke
Yoke thay

In [ ]:
empty_set= set()
print(type(empty_set))
empty_set.add(1)
empty_set.add('Hello')
empty_set.add(3)
empty_set.add('Ni Hao')
print(empty_set)

<class 'set'>
{1, 'Hello', 3, 'Ni Hao'}

In [ ]:
center='simblopython'
print(center.title())
print(center.capitalize())
print(center[3])

Simblopython
Simblopython
b

In [ ]:
center[0:9:2]

'smlpt'

In [ ]:
greeting="Hello guys welcome from Singapre"
seq= greeting.split('_')
print(seq)

['Hello guys welcome from Singapre']

In [ ]:
for g in seq:
  print(g)

Hello
guys
welcome
from
Singapre

In [ ]:
' '.join(seq)

'Hello guys welcome from Singapre'

In [ ]:
'_'.join(seq)

'Hello_guys_welcome_from_Singapre'

In [ ]:
import re

In [ ]:
phoneNumRegex=re.compile(r'\d\d\d-\d\d\d-\d\d\d\d')

In [ ]:
mo=phoneNumRegex.search('My number is 515-333-4343')
print(mo)
print("Phone Number Found:",mo.group())
mo == None

<re.Match object; span=(13, 25), match='515-333-4343'>
Phone Number Found: 515-333-4343

False

In [ ]:
phoneNumRegex=re.compile(r'(\d\d\d)-(\d\d\d-\d\d\d\d)')
mo=phoneNumRegex.search('My number is 413-222-3434')
print(mo.group(1))
print(mo.group(2))
#print(mo.group(3))

413
222-3434

In [ ]:
print(mo.groups())
areacode,main_number=mo.groups()
print(areacode)
print(main_number)

('413', '222-3434')
413
222-3434

In [ ]:
phoneNumRegex=re.compile(r'(\(\d\d\d\)) \d\d\d-\d\d\d\d')
mo=phoneNumRegex.search('My phone number is (232) 333-2323')
print(mo.group())
print(mo.group(1))
mo==None

(232) 333-2323
(232)

False

In [ ]:
heroRegex=re.compile(r'Batman|TinaFey|Barbie')
mo1=heroRegex.search('Barbie and the prince')
print(mo1.group())

Barbie

In [ ]:
batRegex=re.compile(r'a(b)*c')
mo1=batRegex.search("The adventure of abc")
mo1.group()

'abc'

In [ ]:
batRegex=re.compile(r'a(b)+c')
mo1=batRegex.search("abbbbbc")
print(mo1.group())

abbbbbc

In [ ]:
phoneNumRegex= re.compile(r'\d\d\d-\d\d\d-\d\d\d\d')
mo=phoneNumRegex.search('Cell:415-555-9999 Work:212-555-0000')
mo.group()

'415-555-9999'

In [ ]:
phoneNumRegex=re.compile(r'\d\d\d-\d\d\d-\d\d\d\d')
print(phoneNumRegex.findall('Cell:415-555-9999 Work:212-555-0000'))

['415-555-9999', '212-555-0000']

In [ ]:
xmasRegex= re.compiler(r'\d+\W+')
xmasRegex.findall('1234_drummers,11_pipers,lords,9_ladies')